<a href="https://colab.research.google.com/github/Muhammad-Taufiq-Khan/CKD/blob/main/EDA_%26_Preprocessing_UCI_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
# from google.colab import drive

# drive.mount(‘/content/drive’)
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
with open('/content/drive/My Drive/foo.txt', 'w') as f:
  f.write('Hello Google Drive!')
!cat /content/drive/My\ Drive/foo.txt

In [ ]:
# Load data from URL using pandas read_csv method
dataframe = pd.read_csv('https://www.kaggle.com/mansoordaku/ckdisease?select=kidney_disease.csv',sep='delimiter', header=None)

#To avoid Python Pandas Error tokenizing data
 error_bad_lines=False
dataframe.head()

b'Skipping line 7: expected 1 fields, saw 2\nSkipping line 11: expected 1 fields, saw 4\nSkipping line 22: expected 1 fields, saw 2\nSkipping line 42: expected 1 fields, saw 2\nSkipping line 54: expected 1 fields, saw 9\nSkipping line 58: expected 1 fields, saw 2\nSkipping line 59: expected 1 fields, saw 6\nSkipping line 64: expected 1 fields, saw 2\nSkipping line 65: expected 1 fields, saw 3\nSkipping line 66: expected 1 fields, saw 2\nSkipping line 67: expected 1 fields, saw 2\nSkipping line 68: expected 1 fields, saw 2\nSkipping line 91: expected 1 fields, saw 61\nSkipping line 108: expected 1 fields, saw 2\nSkipping line 109: expected 1 fields, saw 2\nSkipping line 110: expected 1 fields, saw 2\nSkipping line 111: expected 1 fields, saw 2\nSkipping line 119: expected 1 fields, saw 2\nSkipping line 127: expected 1 fields, saw 2\nSkipping line 155: expected 1 fields, saw 2\nSkipping line 156: expected 1 fields, saw 2\nSkipping line 157: expected 1 fields, saw 2\nSkipping line 158: expected 1 fields, saw 2\nSkipping line 179: expected 1 fields, saw 1179\nSkipping line 182: expected 1 fields, saw 2\nSkipping line 183: expected 1 fields, saw 3\nSkipping line 186: expected 1 fields, saw 2\nSkipping line 188: expected 1 fields, saw 2\nSkipping line 190: expected 1 fields, saw 5\nSkipping line 191: expected 1 fields, saw 5\nSkipping line 192: expected 1 fields, saw 2\nSkipping line 194: expected 1 fields, saw 2\nSkipping line 198: expected 1 fields, saw 2\nSkipping line 199: expected 1 fields, saw 2\nSkipping line 203: expected 1 fields, saw 2\nSkipping line 206: expected 1 fields, saw 2\nSkipping line 207: expected 1 fields, saw 2\nSkipping line 208: expected 1 fields, saw 2\nSkipping line 209: expected 1 fields, saw 2\nSkipping line 213: expected 1 fields, saw 2\nSkipping line 215: expected 1 fields, saw 2\n'

                                     <!DOCTYPE html>
0                                   <html lang="en">
1                                             <head>
2    <title>Chronic KIdney Disease dataset | Kagg...
3                           <meta charset="utf-8" />
4    <meta name="description" content="Data has  ...

In [ ]:
 https://drive.google.com/file/d/1fPoW4nb5HNJNyprYl91QNCsHCeNgZ--o/view?usp=drivesdk